* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
}
header{
    display: flex;
    align-items: center;
    background-color: #1B5589;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    height: 80px;
    padding: 0 65px;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: #8CABC1;
    padding-left: 25px;
    cursor: pointer;
}

header a:nth-child(4){
    color: #fff;
}

header img:first-child{
    width: 50px;
}

header img:last-child{
margin-left: 1220px;
}
p{
    text-align: center;
    font-size: 40px;
    margin: 30px 0;    
}

.columnNames{
    display: flex;
    justify-content: space-around;
    width: 1600px;
    margin: 0 auto;
    background-color: #CCE5FF;
    height: 45px;
    align-items: center;
    border-radius: 5px;
}

.columnNames p{
    color: #1B5589;
    font-size: 18px;
    text-transform: uppercase;
}


.container {
    display: flex;
justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

/*RIGHT SECTION -------------*/

.container div:first-child{
    width: 20%;
}
.container div:first-child form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container div:first-child form img{
    width: 200px;
}
.container div:first-child form input{
    visibility: hidden;
}

.container div:first-child form label{
    background-color: #6C757D;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
}


/*MIDDLE SECTION -------------*/
.container div:nth-child(2){
    width: 40%;}

.container div:nth-child(2) form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 300px;
    height: 30px  
}

input[type="submit"]{
    display: inline-block;
   background-color: #6C757D;
    color: #fff;
    border-radius: 5px;
       width: 315px;
    height: 30px;
}
/*

input[type="text"],
[type="password"] {
    padding: 10px;
}*/
